@font-face {
  font-family: 'GothamNarrow';
  src:  url('GothamNarrow-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamNarrow';
  src: url('GothamNarrow-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'GothamNarrow';
  src: url('GothamNarrow-Book.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}