

@font-face {
    font-family: 'universbold';
    src: url('unvr65w-webfont.eot');
    src: url('unvr65w-webfont.eot?#iefix') format('embedded-opentype'),
         url('unvr65w-webfont.woff') format('woff'),
         url('unvr65w-webfont.ttf') format('truetype'),
         url('unvr65w-webfont.svg#universbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'universmedium';
    src: url('unvr55w.eot');
    src: url('unvr55w.eot?#iefix') format('embedded-opentype'),
         url('unvr55w.woff') format('woff'),
         url('unvr55w.ttf') format('truetype'),
         url('unvr55w.svg#universmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
#all{
	display:none;
}
body {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
/*	-webkit-user-select: none;*/
	background:url('indexbkg.png') repeat-y;
	background-color:#3a5490;
	width:530px;
	padding:0px;
	margin:55px;
}

#indexbkgTitle{
	margin-left: -40px;
}

#indexBottom{

    position:absolute;
	left: 0px;

}
	
#centralImgIndex{
	position:absolute;
	left: 0px;
	top: 100px;
	z-index:-1;
}

#content{
	margin-top:-35px; 
	margin-left: -35px; 
	-webkit-tap-highlight-color: #ffffff;


}
	
h1{
    margin: 0px;
	margin-bottom: 12px;
	color:#6b0f3b;
	font-family: 'universbold';
	font-size:33px;
	width: 100%;
	}

.head {
	padding-top:20px;
	margin-bottom:35px;
	background: none;
}

.whiteTextArea {

	border-radius: 22px;
	padding:25px;
	text-align:left;
	background-color:#e6e8e8;
	box-shadow: -2px 2px 2px #003366;
	color:#3a5490;
	width:480px;
	font-family: 'universmedium';
	font-size:28px;
	

}

.testingInfo {

	
	width:400px;
	color:#6b0f3b;
	font-family: 'universbold';
	font-size:20px;
}


.greyTextArea {

	border-radius: 30px;
	padding:40px;
	text-align:left;
	background-color:#dddddd;
	color:#707173;
	border:20px;
	width:400px;
	font-family: helvetica;
	font-size:28px;
	margin-bottom:10px;
}


.greyTextAreaHistory {
	-webkit-tap-highlight-color: #ffffff;
	background-image:url('frecciaGiu.png');
	background-repeat:no-repeat;
	background-position:top right;
	
	border-radius: 15px;
	padding:30px;
	text-align:left;
	background-color:#3a5490;
	color:#ffffff;
	border:20px;
	width:420px;
	font-family: 'universmedium';
	font-size:35px;
	margin-bottom:10px;
	
}

.greyTextAreaHistoryExpanded {
	-webkit-tap-highlight-color: #ffffff;
	background-image:url('frecciaSu.png');
	background-repeat:no-repeat;
	background-position:top right;
	border-radius: 15px;
	padding:30px;
	text-align:left;
	border:2px solid #3a5490;
	background-color:#ffffff;
	color:#3a5490;
	width:420px;
	font-family: 'universmedium';
	font-size:25px;
	margin-bottom:10px;
	
}


.option {
	-webkit-tap-highlight-color: #ffffff;
	border-radius: 15px;
	padding:30px;
	text-align:left;
	background-color:#3a5490;
	color:#ffffff;
	border:20px;
	width:420px;
	font-family: 'universmedium';
	font-size:35px;
	margin-bottom:10px;
}

.optionselected {

	border-radius: 15px;
	display:none;
	padding:30px;
	text-align:left;
	background-color:#ffffff;
	border:20px;
	width:420px;
	color:#6b0f3b;
	font-family: 'universmedium';
	font-size:35px;
	margin-bottom:10px;

}

.optionsdisabled {

	border-radius: 15px;
	padding:30px;
	text-align:left;
	background-color:#ffffff;
	border:20px;
	width:420px;
	color:#6b0f3b;
	font-family: 'universmedium';
	font-size:35px;
	margin-bottom:10px;

}


.appName {
	color:#ffffff;
	font-family: 'universbold';
	font-size: 60px;
	font-weight: bold;
	text-align:center;


}

.appImage {
}

.patientName {

	width:100%;
	text-align:right;
	padding:5px;
	padding-top:0px;
	color:#6b0f3b;
	font-family: 'universbold';
	font-size:66px;
	font-weight:bold;
}



.option a {

	color:#707173;
	
}

.dosing {
	
	padding-top:10px;
	font-size:19px;
	
}

.title {

	width:100%;
	text-align:center;
	padding-bottom:10px;
	color:#6b0f3b;
	font-family: 'universbold';
	font-size:44px;
	font-weight:bold;
}

.time {

	width:100%;
	text-align:center;
	padding-bottom:10px;
	color:#6b0f3b;
	font-family: 'universbold';
	font-size:44px;
	font-weight:bold;
}

.date {

	width:100%;
	text-align:center;
	padding-bottom:10px;
	color:#6b0f3b;
	font-family: 'universmedium';
	font-size:30px;
	font-weight:lighter;
}

.heading {
	text-align:right;
	margin-top: 20px;
	width:100%;
	color:#ffffff;
	font-family: 'universbold';
	font-size: 30px;
}


.whiteTextArea a {
	
	text-decoration:none;
}


.additionalMaterial {

	heigth:130px;
	
}

.imageOnTheRight {
	
	border:10px;
	width:460px;
	height:460px;
	border-radius: 10px;
	background-size: 100%;

}

.imageOnTheRightSmall {
	
	border:10px;
	width:380px;
	height:380px;
	border-radius: 6px;
	background-size: 100%;

}

.all{
	visibility:hidden;
	}

.face {
	
	margin:10px;
	width:161px;
	height:159px;
	float:right;
}

.smallFace {
	
	margin:10px;
	width:120px;
	float:right;
}


.imageTextOnTheLeft {
	
	border-right:20px;
	clear:both;
}


.whiteTextArea a {
	
	text-decoration:none;
}



