#dynamicContent{
    display: block;
	
  
}

body {
    background: url('../images/questionScreenHeader.png');
    height:1080px;
    width:1920px;
    position:absolute;
    background-size: 100%;
    background-repeat: no-repeat;
}

#questionScreenHeader{
	/*-webkit-transform:translate3d(0,0,0);*/
    display: table-cell;
    position: relative;
    width: 1780px;
    height: 130px;
    padding-left: 60px;
    padding-right: 260px;
    vertical-align: middle;
    font-family: 'Avenir Next LT Pro';
    font-size: 42px;
    color: #80ba27;
    font-weight: bold;
    padding-bottom: 60px;
    text-transform: uppercase;
    text-align: left;
    line-height: 45px;

}

.messageScreenHeaderBody {
    background-image: url('../images/messageScreenHeader.png') !important;
}
.messageScreenHeader{
    /*background-image: url('../images/messageScreenHeader.png') !important;*/
    display: block;
    position: relative;
    width: 1920px;
    height: 768px;
}

#questionOrderScreen {
    display: block;
    position: relative;
    width: 1920px;
    margin-top: -50px;
	height: 50px;
   /* background-color: #b91d39;*/
    color:white;
    font-family: 'Avenir Next LT Pro';
    font-size: 27px;
    text-align: center;
    line-height: 40px;
	font-weight:bold;
}

#messageOrderScreen {
    display: block;
    position: relative;
    width: 1920px;
    margin-top: -58px;
	height: 50px;
   /* background-color: #b91d39;*/
    color:white;
    font-family: 'Avenir Next LT Pro';
    font-size: 27px;
    text-align: center;
    line-height: 40px;
	font-weight:bold;
}



#answerScreenContainer{
    display: table;
    position: relative;
    width: 1290px;
    height: 590px;
/*    margin: 0 auto;*/
    margin-left: 60px;
}

.monoAnswerScreenContainer{
    display: table-row;
    position: relative;
    width: 1920px;
    /* min-height: 50px; */
    counter-increment: index;
}

.textAnswerScreenContainer{
    display: table-cell;
    position: relative;
    width: 271px;
    padding-left: 100px;
    vertical-align: middle;
    padding-right: 10px;
    color: #3f2682;
    font-family: 'Avenir Next LT Pro';
    font-size: 35px;
    line-height: 30px;
    border-right-style: solid;
    border-right-width: 3px;
    border-right-color: #e5e5e5;

}

.barAnswerScreenContainer{
    display:table-cell;
    position: relative;
    width: 512px;
}

.percentageContainer{
    display: block;
    position:absolute;
    width: 100px;
    height: 50px;
    right:25px;
    top:50%;
    -webkit-transform: translateY(-50%);
    text-align: left;
    line-height: 50px;
    color: #80ba27;
    font-family: 'Avenir Next LT Pro';
    /*font-weight:bold;*/
    font-size: 30px;
}

.bar{
    display: block;
    position:absolute;
    height: 80px;
    width:10px;
    top:50%;
    -webkit-transform: translateY(-50%);
    background-color: #80ba27;
}

.correct .bar {
	background-color:green;
}

.stopper{
    display: block;
    position:absolute;
    background-color: white;
    right: 0px;
    height: 100%;
    width: 25px;
}

.textAnswerScreenContainer::after{
    position:absolute;
    display: block;
    width: 70px;
    height: 70px;
    top: 50%;
    border-radius: 100%;
    background-color: #999999;
    font-family: 'Avenir Next LT Pro';
    font-weight:bold;
    font-size: 50px;
    line-height: 65px;
    text-align: center;
    color:white;
  /*  content: counter(index, upper-alpha);*/
	content: counter(index);
  
    -webkit-transform: translate(-140%,-50%);
}

.textAnswerScreenContainer.correct::after{
    background-color: green;
}

.monoAnswerScreenContainer:nth-child(even) .textAnswerScreenContainer{
}

#messageScreenContainer{
    text-align: center;
   margin: 200px auto;
    width: 1800px;
}

#messageScreenText{
    display: table-cell;
    position: relative;
    width: 1900px;
    height: 226px;
    vertical-align: middle;
    text-align: center;
    color:#ba1e39;
    font-family: 'Avenir Next LT Pro';
    font-size: 43px;
    padding:10px;
}

#messageScreenIcon{
    display: inline-block;
    position: relative;
    width: 426px;
    height: 344px;
    background-image: url('../images/messageScreenIcon.png');
	float:right;
}

.barresult::after
{
     content: attr(perc);
    display: block;
    position: absolute;
    width: 50px;
    height: 100px;
    color: #80ba27;
    font-family: 'Avenir Next LT Pro';
    font-size: 43px;
    right: -58px;
    vertical-align: middle;
    line-height: 83px;

}