@font-face {
    font-family: 'Avenir';
    src: url('../fonts/Avenir-Medium.eot');
    src: url('../fonts/Avenir-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Avenir-Medium.woff') format('woff'),
        url('../fonts/Avenir-Medium.ttf') format('truetype'),
        url('../fonts/Avenir-Medium.svg#Avenir-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('../fonts/Avenir-Heavy.eot');
    src: url('../fonts/Avenir-Heavy.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Avenir-Heavy.woff') format('woff'),
        url('../fonts/Avenir-Heavy.ttf') format('truetype'),
        url('../fonts/Avenir-Heavy.svg#Avenir-Heavy') format('svg');
    font-weight: 900;
    font-style: normal;
}
body, p{margin:0;}
p{line-height: 1.2; color: #9e9e9e; font-size: 14px;}
ol{padding-left:0px;}
hr{margin-bottom: 15px; border:0; height:1px;}
button{-webkit-appearance: none; outline: none; border: 0; background-color: transparent;}
input{-webkit-appearance: none; border-radius: 0; border:1px solid #878787;}
*{box-sizing: border-box; position: relative;  margin:0;}
.font-avenir-medium{font-family: 'Avenir'; font-weight: 500;}
.font-avenir-heavy{font-family: 'Avenir'; font-weight: 900;}
.img-responsive{max-width: 100%; height:auto; width:auto;}
.color-blue{color: #001a52;}
.color-yellow{color: #fbb90b;}
.color-cyano{color: #007fb6;}
.bg-blue{background-color: #001a52;}
.bg-yellow{background-color: #fbb90b;}
.bg-cyano{
    background-color: #007fb6;
}
.bg-grey{
    background-color: #ccc;
}
.color-white{color: #FFF;}
.bg-white{background-color: #FFF;}
.light{font-weight: 300;}
.normal{font-weight: normal;}
.bold{font-weight: bold;}
.float-left{float:left;}
.float-right{float: right;}
.text-center{text-align: center;}
.text-right{text-align: right;}
.d-block{display: block;}
.d-table{display: table;}
.w-30{max-width: 30%;}
.w-10{max-width: 10%;}
#refresh-btn{background-color: transparent; width:45px; height:45px; position: fixed; top:5px; right:5px; z-index: 9999;}
#conn-status{background-color: red; width:3px; height:3px; position: fixed; top:1px; right:1px; z-index: 999; border-radius: 3px;}
.screen-section{background-color:#FFF; display: none; z-index: 10; position: relative; min-height: 100%;}
.nav-header{position: absolute; width:100%; min-height:38px;}
.screen-section header{position: fixed; top:0; left:0; right:0; z-index:10; background-color: #FFF;}
.clear{clear: both;}
/***********************LOADER **************************/
#loader{position: fixed; top:0; left:0; right:0; bottom:0; z-index: 10; background-color: #FFF;}
.spinner {
    margin: auto;
    width: 70px;
    text-align: center;
    top:45%;
    position: absolute;
    left:0;
    right:0;
}  
.spinner > div {
width: 18px;
height: 18px;
background-color: #333;

border-radius: 100%;
display: inline-block;
-webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
-webkit-animation-delay: -0.32s;
animation-delay: -0.32s;
}

.spinner .bounce2 {
-webkit-animation-delay: -0.16s;
animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
0%, 80%, 100% { -webkit-transform: scale(0) }
40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
} 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
}
}

/************************ INTERNAL SECTION *******************/
.back-btn{
    background-image: url("../img/back-btn.png");
    background-size: 16px;
    background-position: center;
    background-repeat: no-repeat;
    width: 38px;
    height: 38px;
    display: block;
    z-index: 20;
}
.logo-header{
    max-width: 150px;
    float:right;
    z-index:11;
    margin-top:25px;
    margin-bottom: 10px;
    margin-right:15px;
}
.content-internal{
    padding-top:100px;
    padding-left: 10px;
    padding-right:10px;
    padding-bottom: 15px;
}

.padding-left-internal{
    padding-left: 53px;
}
.padding-right-internal{
    padding-right: 10px;
}
.section-title{
    font-size:18px; 
    padding-left:53px; 
    padding-top:20px; 
    background-repeat: no-repeat; 
    background-position: left bottom; 
    background-size: contain;
    margin-bottom: 10px;
}
.section-title.agenda{background-image: url("../img/agenda-icon.png");}
.section-title.razionale{background-image: url("../img/razionale-icon.png");}
.section-title.faculty{background-image: url("../img/faculty-icon.png");}
.section-title.qa{background-image: url("../img/qa-icon.png");}
.section-title.question{background-image: url("../img/icon-voto.png");}
.section-title.informazioni{background-image: url("../img/info-icon.png"); margin-bottom: 20px;}
.btn-internal{padding:10px; text-decoration: none; font-size: 15px;}
.box-tab{border-bottom: 2px solid #ccc; display: table; width: 100%; margin-top:5px; margin-bottom: 10px;}
.box-tab .single-tab{float:left; width:50%; padding: 15px; font-size: 15px; color:#CCC;}
.img-tab{display: none;}
.img-tab.active{display: block;}
#btn_tab_1{border-right: 2px solid #CCC;}
#btn_tab_1.active{color: #007fb6; }
#btn_tab_2.active{color: #fbb90b;}
.row-faculty{margin-bottom:10px;}
.row-faculty p{font-size: 15px;}
.row-faculty span{font-size: 12px;}
.logo-action-razionale{font-size: 20px; }
#razionale .content-internal p{margin-bottom: 15px;}
#askpresentation{
    display: none;
    margin-top:30px;
}
.btn-presentazioni{width:100%;}
#emailtosave{padding: 11px 12px; outline: none; min-width: 238px; line-height: 18px;}
#infopres{margin-bottom: 10px;}
#btnSendRequestPresentation{padding: 12px 12px; font-size: 13px; line-height: 18px;}
#thanksforrequest{display: none;}
#testoprivacy{margin-top: 10px;}
#testoprivacy p{font-size: 11px;}
#choose-room .room{display: block; width: 100%; padding:12px 24px; font-size: 18px; margin-bottom:20px;}
#choose-room .content-internal{padding-top:140px;}
#choose-room p{margin-bottom: 40px; font-size: 18px;}
.change-room{
    width:18px;
    height: 18px;
    position: fixed;
    z-index: 99;
    right:5px;
    bottom:3px;
}
/************************HOME SECTION *****************/
#home{position: fixed; z-index: 9; top:0; left:0; right:0; bottom: 0; display: block;}
.box-btn-home{padding-top:35px;}
.box-btn-home button{
    padding-top: 75px;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 55px auto;    
    display: inline-block;
    min-width: 55px;
    margin: 0 10px 30px;
    font-size: 10px;
    
}
#btn-agenda{background-image: url("../img/agenda-icon.png");}
#btn-razionale{background-image: url("../img/razionale-icon.png");}
#btn-faculty{background-image: url("../img/faculty-icon.png");}
#btn-qa{background-image: url("../img/qa-icon.png");}
#btn-informazioni{background-image: url("../img/info-icon.png");}
.box-yellow{height: 25px; width: 100%; position: absolute; bottom:0;}

/*******************INFO SECTION **************************/
.accordion-label{margin-bottom: 4px; background-image: url('../img/bg-btn-help.png'); background-size: 100% auto; background-repeat: no-repeat;}
.accordion-label[accordion='1'] p{
    padding-left: 40px;
    background-image: url("../img/pin-icon.png");
    background-size: 22px auto;
    background-position: 10px center;
    background-repeat: no-repeat;
}
.accordion-label[accordion='2'] p{
    padding-left: 40px;
    background-image: url("../img/contact-icon.png");
    background-size: 22px auto;
    background-position: 10px center;
    background-repeat: no-repeat;
}
.accordion-label:after, .btn-presentazioni:after{
    content: ""; 
    display: block; 
    position: absolute; 
    right:0; 
    top:0;
    bottom: 0; 
    width: 50px;
    background-image: url('../img/closed-icon.png');
    background-repeat: no-repeat; 
    background-position: center;
    background-size: 21px auto;
    transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}
.accordion-label.opened:after, .btn-presentazioni.opened:after{
    transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}
.accordion-label[accordion='1']{background-position: center top;}
.accordion-label[accordion='2']{background-position: center bottom;}
.accordion-label p{padding: 10px; font-size: 16px;}
.accordion-text{display: none; padding:20px 0px;}
.accordion-text p{font-size: 14px;}
.accordion-text span{font-size: 13px; font-weight: 500;}
#accordion-1 p:before{
    content: "";
    background-color: #fbb90b;
    position: absolute;
    width: 14px;
    height: 14px;
    top: 0;
    left: 0;
}
.accordion-text p{
    padding-left:22px;
}
#accordion-2 .color-yellow{
    background-image: url("../img/arrow-right-yellow.png");
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 14px auto;
    font-size: 15px;
    margin-bottom: 5px;
}
#accordion-2 p{
    margin-bottom: 15px;
}
/*********************TWITTER SECTION ************************/
.content-text-area{
    padding-left: 65px;
    padding-right: 5px;
    padding-top: 30px;
    background-image: url("../img/qa-bg-textarea.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: top left;
}
#twitter textarea{
    width:100%; 
    outline: 0; 
    padding: 12px; 
    margin:0; 
    height:200px; 
    font-size: 14px; 
    border:1px solid #9e9e9e; 
    border-radius: 5px;
    margin-bottom: 10px;
}
.btn-twitter{width:100%; padding: 10px 0px 10px 38px; text-align:left;}
.btn-answer{width:100%; padding: 10px 0px 10px 38px; text-align:center; max-width: 220px; margin:auto; display: block;}
.btn-twitter span, .btn-answer span{
    background-image: url("../img/submit-btn-twitter.png");
    background-repeat: no-repeat;
    background-size: 27px auto;
    background-position: center;
    padding:10px;
    position: absolute;
    right:0;top:0; bottom:0;
    padding:10px 16px;
}

#twitter .btn-container{width: 100%;}
#btnAddTweet{
    display: none; 
    width:44px; 
    height:44px; 
    line-height: 44px; 
    font-size: 20px; 
    position: fixed; 
    z-index: 99; 
    right:20px;
    bottom: 20px; 
    text-align: center; 
    border-radius: 100%;
    box-shadow: 1px 2px 1px rgba(0,0,0,0.2);
}
#tweetsList{display: none;}
#tweetsList .tweet{background-color: #eeeeee; font-size: 16px; padding:15px 20px; margin-bottom: 5px;}

/*********************QUESTION SECTION ************************/
#question{min-height: 100%; }
#question .content-internal{padding-left: 20px; padding-right:20px;}
#question h1{font-size:17px; margin-bottom: 5px; padding-top:5px;}
.question-box{padding:10px 0px 15px; min-height: 230px;}
.question-box .question-caso-clinico span{font-size: 11px; line-height: 16px;}
.question-box hr{width:80px; margin: 8px 0 7px 5px;}
.question-box ol{counter-reset: element; list-style: none; margin-top:20px;}
.question-box li{counter-increment: element; margin-bottom: 15px; display:block; min-height: 46px; width:100%;}
.question-box li:before{
    color: #FFF; 
    content: counter(element); 
    position: absolute;
    left: 0; 
    font-size: 24px; 
    line-height: 28px;
    font-family: "Avenir";
    font-weight: 900;
    border: 3px solid #001a52;
    color: #001a52;
    width: 28px;
    text-align: center;
}
.question-box li.choose:before{
    background-color: #001a52;
    color: #FFF;
}
.question-box li p{counter-increment: li; margin-bottom: 15px; padding-left: 53px; padding-top: 2px;}

#send-answer-btn{-webkit-appearance: none; width:100%; border:0; outline: none; font-size: 15px; padding: 16px; margin-bottom: 0;}
#send-answer-btn.disabled{pointer-events: none; background-color: #878787;}
hr.bg-pink{border:0; height:1px; display: block; margin:auto; max-width: 290px;}
.thankyou-box{
    display: none;
    position: fixed;
    top: 0; left: 0; bottom: 0; right:0;
    z-index: 99;
    text-align: center;
    font-size: 20px;
    padding:30px;
    background-image:url("../img/bg-thankyou.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}
.thankyou-box img{
    margin: auto;
    max-width: 100px;
    display: block;
    margin-top: 60px;
}
.thankyou-box p{
    font-size: 19px;
    margin-top: 30px;
}
.question-duello{margin-top:30px;}
#slider-answer{
    min-height: 65px; 
    background-image: url("../img/bg-slider.png"); 
    background-size: contain; 
    background-repeat: no-repeat;
    padding-left:24px;
    padding-right: 33px;
}
.ui-slider-handle{
    background-image: url("../img/btn-slider.png"); 
    background-size:contain; 
    background-repeat: no-repeat; 
    width:50px; height:50px; 
    display: block;
    position: relative;
    margin-left:-25px;
    top: 5px;
    outline:none;
}
.answer-circle-container{
    min-height: 54px;
    position: relative;
    margin-top: 10px;
}
.circle-answer{
    width: 54px;
    height: 54px;
    text-align: center;
    position: absolute;
    border-radius: 27px;
    box-shadow: 1px 2px 1px rgba(0,0,0,0.15);
    opacity: 0.6;
    transition: all 0.15s ease-in-out;
}
.circle-answer.active{
    opacity: 1;
    box-shadow: 1px 2px 2px rgba(0,0,0,0.3);
}
.circle-answer.bg-cyano{
    left:0;
}
.circle-answer.bg-grey{
    left: 50%;
    margin-left: -27px;
}
.circle-answer.bg-yellow{
    right:0;
}
.circle-answer span{
    font-size: 26px;
    line-height: 54px;
}
